<div class="card">
    <div class="card-header">
        <h2>Pie Chart</h2>

        <ul class="actions">
            <li class="dropdown action-show" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <div class="dropdown-menu pull-right">
                    <p class="p-20">
                        You can put anything here
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div id="pie-chart" class="flot-chart-pie" data-pie-donut></div>
        <div class="flc-pie hidden-xs"></div>
    </div>
</div>