<div class="card picture-list">
    <div class="card-header">
        <h2>Checkpoint 3 <small>Cras congue nec lorem eget posuere</small></h2>

        <ul class="actions">
            <li class="dropdown action-show" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="pl-body">
        <div class="card col-xs-12">
            <video src="media/big_buck_bunny.mp4" height="150" style="width: 100%" data-media-element></video>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/5.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/6.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/7.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/8.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/9.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/1.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/2.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="">
                <img src="img/headers/square/3.png" alt="">
            </a>
        </div>
    </div>
</div>